
@import "../../assets/styles/modules/variables";
@import "../../assets/styles/modules/helpers";
@import "../../assets/styles/modules/mixins";

.white-container {
    padding: 15px 0;

    .container-content {
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
    }

    .info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 26px;
        font-weight: $bold;

        &.centered {
            text-align: center;
        }
    }
}