@import "../../assets/styles/modules/variables";

.layout {
    background-color: $color-background;

    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}