@import "../../assets/styles/modules/variables";

.layout {
    background-color: $color-background;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .main-content {
        padding: 135px 30px 15px 30px;
        width: 100%;
        max-height: 100vh;
        overflow: auto;
    }

    .flex-col {
        display: flex;
        flex-wrap: wrap;
    }
}