@import "../../assets/styles/modules/variables";
@import "../../assets/styles/modules/helpers";
@import "../../assets/styles/modules/mixins";

.sidebar-container {
  width: 270px;
}

.main-sidebar {
  width: 270px;

  .single-container {
    margin: 30px 0;

    &__title {
    }
  }

  &__main-info {
    width: 270px;
  }

  &__scroll-content {
    padding-top: 400px;
  }

  &__search-container {
    width: 270px;

    .search-container {
      &__brand {
        color: #fff;
        overflow: hidden;
        background: linear-gradient(
          to right,
          $color-yellow-text,
          $color-yellow-text 50%,
          #fff 50%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $black;
        font-size: 16px;
        letter-spacing: 2px;
        position: relative;
        padding-left: 35px;
        cursor: pointer;

        &:hover {
          background-position: 0 100%;
        }

        &:before {
          @include pseudo;
          width: 21px;
          height: 19px;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(../../assets/icons/ico-tasks.svg);
          left: 0;
          top: 48%;
          transform: translate(0, -50%);
        }
      }

      &__search-icon {
        cursor: pointer;
      }
    }
  }
  &__teams {
    .teams {
      &__title {
        padding-left: 30px;
      }

      &__add-project {
        color: $color-yellow-text;
        font-weight: $bold;
        font-size: 14px;
        padding-left: 30px;
        margin-top: 10px;
        display: inline-block;
      }
    }

    .single-team {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px 12px 25px;
      cursor: pointer;
      background-color: #000;
      transition: all 0.25s;
      border-left: 5px solid transparent;

      &:hover {
        background-color: #202020;
        border-left: 5px solid $color-yellow-text;
      }

      &__team-name {
        font-size: 14px;
        font-weight: $bold;
        color: #fff;
      }

      &__avatar-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .avatar-container {
          &__avatar {
            margin-right: 6px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  &__invite {
    padding: 40px 0 20px;

    .invite {
      &__text {
        color: #fff;
        font-size: 14px;
        font-weight: $bold;
        padding: 0 20px 0 30px;

        a {
          color: $color-yellow-text;
          text-decoration: underline;
        }
      }
    }
  }
}
