
@import "../../assets/styles/modules/variables";
@import "../../assets/styles/modules/helpers";
@import "../../assets/styles/modules/mixins";

.activity-feed {

    .single-day {

        &__day {
            font-size: 14px;
            font-weight: $bold;
            opacity: 0.5;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .single-activity {
            position: relative;
            padding-bottom: 25px;

            &:before {
                @include pseudo;
                height: 100%;
                width: 1px;
                background-color: #ECECEC;
                left: 20px;
                top: 0;
                z-index: 0;
            }

            &:last-of-type {
                &:before {
                    display: none;
                }
            }

            &__action-wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                position: relative;
                z-index: 1;

                .action-wrapper {
                    &__action {
                        margin: 3px 0 0 17px;
                    }
                }
            }

            &__time {
                font-size: 14px;
                font-weight: $bold;
                opacity: 0.7;
                margin-left: 57px;
            }

            &__uploads-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0 -5px 0 52px;

                .uploads-container {
                    &__single-item {
                        padding: 5px;
                    }
                }
            }
        }
    }
}