@import "../../assets/styles/modules/variables";
@import "../../assets/styles/modules/helpers";
@import "../../assets/styles/modules/mixins";

.progress-circle {
  position: relative;
  display: flex;
  justify-content: center;

  &__percentage {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    text-align: center;
    font-weight: $bold;
  }

  svg,
  circle {
    width: 150px;
    height: 150px;
    transform: rotate(273deg);
  }

  circle {
    position: absolute;
    fill: none;
    stroke-width: 10;
    transform: translate(10px, 10px);
    stroke-dasharray: 440;
    stroke-linecap: round;
  }

  circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #eaeaea;
  }

  circle:nth-child(2) {
    animation: percent 1.5s linear;
    animation-delay: 1s;
  }

  circle {
    &.circle-62 {
      stroke-dashoffset: calc(440 + (440 * 62) / 100);
      stroke: #7eb973;
    }

    &.circle-47 {
      stroke-dashoffset: calc(440 + (440 * 47) / 100);
      stroke: $color-purple-text;
    }
  }

  @keyframes percent {
    0% {
      stroke-dashoffset: 0;
      stroke-width: 0;
    }
  }
}
